.App {
  text-align: center;
  background-image: url(pexels.jpg);
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#spacer {
  height: 20vh;
}